<h2 class= "text-center">{{title}}</h2>
<h3 class= "text-center">Day {{day}}</h3>

<form action="/home" method="get">
<br>
    <input type="submit" value="back" class="btn btn-success btn-block">
</form>