<h1 class= "text-center">{{title}}</h1>

<form action="/home/1" method="post">
    <input type="submit" value="รวมวันหยุด" class="btn btn-success btn-block">
</form>
<form action="/home/2" method="post">
<br>
    <input type="submit" value="ไม่รวมวันหยุด" class="btn btn-success btn-block">
</form>

